[submodule "py-screeps-server-mockup/screeps-server-mockup"]
	path = py-screeps-server-mockup/screeps-server-mockup
	url = https://github.com/Hiryus/screeps-server-mockup
[submodule "screeps-starter-python"]
	path = screeps-starter-python
	url = https://github.com/johneddcooper/screeps-starter-python
[submodule ".pyjs_builds/basic_screep"]
	path = .pyjs_builds/basic_screep
	url = https://github.com/johneddcooper/basic_screep
